/** @format */
.nvLink{
  margin: 15px;
  text-decoration: none;
}

a.active{
  color: crimson;
  font-style: italic;
  font-weight: bolder;
}
a:hover{
  text-decoration: underline;
  font-size: larger;
  font-weight: bolder;
}